﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>My first NuGet library says:</p>
        <blockquote class="blockquote">
            <p class="mb-0">@ViewData["LibraryOneString"]</p>
        </blockquote>
        <p>My second NuGet library says:</p>
        <blockquote class="blockquote">
            <p class="mb-0">@ViewData["LibraryTwoString"]</p>
        </blockquote>
    </div>
